:root {
  /*Sizes*/
  --button-height-standard-lg: 3rem;
  --button-height-standard-md: 2.75rem;
  --button-height-standard-sm: 2.25rem;

  --button-minwidth-standard-lg: 6rem;
  --button-minwidth-standard-md: 6rem;
  --button-minwidth-standard-sm: 4rem;

  --button-height-caption-lg: 3.5rem;
  --button-height-caption-md: 3.25rem;
  --button-height-caption-sm: 3rem;

  --button-minwidth-slab-sm: 3.5rem;
  --button-maxwidth-slab-sm: 8rem;
  --button-height-slab-sm: 3.75rem;

  --button-height-action-sm: 3.25rem;
  --button-maxwidth-action-sm: 5rem;
  --button-width-action-sm: 3.25rem;

  /*border*/
  --button-borderwidth-outline: 2px;

  /*Transition*/
  --button-transition-property: 'background, color, border-color, filter';
  --button-transition-duration: 0.3s;

  /*gaps*/
  --button-gap-standard-lg: 0.75rem;
  --button-gap-standard-md: 0.5rem;
  --button-gap-standard-sm: 0.25rem;

  --button-gap-caption-lg: 0.375rem;
  --button-gap-caption-md: 0.25rem;
  --button-gap-caption-sm: 0.125rem;

  --button-gap-slab-sm: 0.375rem;

  --button-gap-action-sm: 0.375rem;

  /*padding*/
  --button-padding-x-standard-lg: 1.25rem;
  --button-padding-x-standard-md: 0.75rem;
  --button-padding-x-standard-sm: 0.5rem;

  --button-padding-x-caption-lg: 1.5rem;
  --button-padding-x-caption-md: 1.5rem;
  --button-padding-x-caption-sm: 1.5rem;

  --button-padding-x-slab-sm: 0.5rem;

  /*radius*/
  --button-radius-standard-lg: 1.125rem;
  --button-radius-standard-md: 0.875rem;
  --button-radius-standard-sm: 0.625rem;

  --button-radius-icon-lg: 5rem;
  --button-radius-icon-md: 0.625rem;
  --button-radius-icon-sm: 0.5rem;

  --button-radius-caption-lg: 0.625rem;
  --button-radius-caption-md: 0.5rem;
  --button-radius-caption-sm: 0.375rem;

  --button-radius-slab-sm: 0.25rem;
  --button-radius-action-sm: 5rem;


  /*Opacity*/
  --button-opacity-caption: 0.8;

  /*Colors*/

  --button-bg-filled-destructive: rgba(var(--error-600), 1);
  --button-bg-filled-neutral: rgba(var(--neutral-500), 1);
  --button-bg-filled-primary: rgba(var(--primary-900), 1);
  --button-bg-filled-destructive-active: rgba(var(--error-100), 1);
  --button-bg-filled-destructive-hover: rgba(var(--error-50), 1);
  --button-bg-filled-neutral-active: rgba(var(--neutral-800), 1);
  --button-bg-filled-neutral-hover: rgba(var(--neutral-600), 1);
  --button-bg-filled-primary-active: rgba(var(--primary-800), 1);
  --button-bg-filled-primary-hover: rgba(var(--primary-400), 1);

  --button-bg-ghost-destructive: var(--transparent);
  --button-bg-ghost-neutral: var(--transparent);
  --button-bg-ghost-primary: var(--transparent);
  --button-bg-ghost-destructive-active: rgba(var(--error-200), 0.1);
  --button-bg-ghost-destructive-hover: rgba(var(--error-400), 0.1);
  --button-bg-ghost-neutral-active: rgba(var(--neutral-500), 0.4);
  --button-bg-ghost-neutral-hover: rgba(var(--neutral-300), 0.1);
  --button-bg-ghost-primary-active: rgba(var(--primary-50), 0.1);
  --button-bg-ghost-primary-hover: rgba(var(--primary-600), 0.1);

  --button-bg-outline-destructive: rgba(var(--error-600), 0.1);
  --button-bg-outline-neutral: rgba(var(--neutral-300), 0.1);
  --button-bg-outline-primary: rgba(var(--primary-100), 0.1);
  --button-bg-outline-destructive-active: rgba(var(--error-300), 0.1);
  --button-bg-outline-destructive-hover: rgba(var(--error-600), 0.1);
  --button-bg-outline-neutral-active: rgba(var(--neutral-800), 0.8);
  --button-bg-outline-neutral-hover: rgba(var(--neutral-800), 0.4);
  --button-bg-outline-primary-active: rgba(var(--neutral-700), 0.1);
  --button-bg-outline-primary-hover: rgba(var(--neutral-800), 0.8);

  --button-bg-soft-destructive: rgba(var(--error-600), 0.1);
  --button-bg-soft-neutral: rgba(var(--neutral-700), 0.4);
  --button-bg-soft-primary: rgba(var(--primary-200), 0.1);
  --button-bg-soft-destructive-active: rgba(var(--error-800), 0.1);
  --button-bg-soft-destructive-hover: rgba(var(--error-200), 0.1);
  --button-bg-soft-neutral-active: rgba(var(--neutral-500), 0.4);
  --button-bg-soft-neutral-hover: rgba(var(--neutral-500), 0.1);
  --button-bg-soft-primary-active: rgba(var(--neutral-200), 0.4);
  --button-bg-soft-primary-hover: rgba(var(--primary-800), 0.4);

  --button-border_color-outline-destructive: rgba(var(--error-700), 0.4);
  --button-border_color-outline-neutral: rgba(var(--neutral-300), 0.4);
  --button-border_color-outline-primary: rgba(var(--primary-200), 0.4);
  --button-border_color-outline-destructive-active: rgba(var(--error-50), 0.1);
  --button-border_color-outline-destructive-hover: rgba(var(--error-400), 0.8);
  --button-border_color-outline-neutral-active: rgba(var(--neutral-700), 1);
  --button-border_color-outline-neutral-hover: rgba(var(--neutral-400), 0.8);
  --button-border_color-outline-primary-active: rgba(var(--primary-100), 0.1);
  --button-border_color-outline-primary-hover: rgba(var(--primary-900), 1);

  --button-color-action-label: rgba(var(--neutral-50), 0.8);

  --button-color-basic-destructive: rgba(var(--error-600), 1);
  --button-color-basic-neutral: rgba(var(--neutral-50), 1);
  --button-color-basic-primary: rgba(var(--primary-300), 1);
  --button-color-basic-destructive-active: rgba(var(--error-500), 1);
  --button-color-basic-destructive-hover: rgba(var(--error-50), 1);
  --button-color-basic-neutral-active: rgba(var(--neutral-50), 0.8);
  --button-color-basic-neutral-hover: rgba(var(--white), 1);
  --button-color-basic-primary-active: rgba(var(--neutral-50), 1);
  --button-color-basic-primary-hover: rgba(var(--white), 1);

  --button-color-filled-destructive: rgba(var(--black), 1);
  --button-color-filled-neutral: rgba(var(--neutral-50), 1);
  --button-color-filled-primary: rgba(var(--white), 1);
  --button-color-filled-destructive-active: rgba(var(--error-900), 1);
  --button-color-filled-destructive-hover: rgba(var(--error-900), 1);
  --button-color-filled-neutral-active: rgba(var(--white), 1);
  --button-color-filled-neutral-hover: rgba(var(--neutral-100), 1);
  --button-color-filled-primary-active: rgba(var(--primary-50), 1);
  --button-color-filled-primary-hover: rgba(var(--black), 1);

  --button-color-outline-destructive: rgba(var(--error-600), 1);
  --button-color-outline-neutral: rgba(var(--neutral-100), 1);
  --button-color-outline-primary: rgba(var(--primary-200), 1);
  --button-color-outline-destructive-active: rgba(var(--error-400), 1);
  --button-color-outline-destructive-hover: rgba(var(--error-400), 1);
  --button-color-outline-neutral-active: rgba(var(--neutral-100), 1);
  --button-color-outline-neutral-hover: rgba(var(--neutral-100), 1);
  --button-color-outline-primary-active: rgba(var(--primary-200), 1);
  --button-color-outline-primary-hover: rgba(var(--primary-500), 1);
}
