:root {
  --checkbox-color: #676767;
  --checkbox-background-color: var(--transparent);
  --checkbox-font-size: theme('fontSize.xs');
  --checkbox-line-height: theme('lineHeight.4');
  --checkbox-gap: theme('gap.2');
  --checkbox-inner-gap: var(--checkbox-gap);
  --checkbox-padding: 0;
  --checkbox-inner-padding: 0;
  --checkbox-border-color: #676767;
  --checkbox-border-width: 1px;
  --checkbox-border-radius: 0;
  --checkbox-checkmark-color: var(--checkbox-checked-color);

  /* Transition */
  --checkbox-transition-property: theme('transitionProperty.colors');
  --checkbox-transition-duration: theme('transitionDuration.300');
  --checkbox-transition-timing-function: theme('transitionTimingFunction.in');
  --checkbox-transition: var(--checkbox-transition-property) var(--checkbox-transition-duration) var(--checkbox-transition-timing-function);

  /* Hover state */
  --checkbox-hovered-color: rgba(var(--black), 1);
  --checkbox-hovered-background-color: rgba(103, 103, 103, 0.1);

  /* Checked state */
  --checkbox-checked-color: rgba(var(--black), 1);
  --checkbox-checked-background-color: #676767;

  /* Disabled state */
  --checkbox-disabled-color: var(--checkbox-color);
  --checkbox-disabled-background-color: var(--transparent);
  --checkbox-disabled-opacity: theme('opacity.50');

  /* Error state */
  --checkbox-error-border-color: #ff3737;
  --checkbox-error-message-color: #a82300;
  --checkbox-error-message-font-size: var(--checkbox-font-size);
  --checkbox-error-message-gap: var(--checkbox-gap);
  --checkbox-error-message-padding: 0;

  /* Required state */
  --checkbox-required-message-color: #ffa91f;
  --checkbox-required-message-font-size: var(--checkbox-font-size);
  --checkbox-required-message-gap: var(--checkbox-gap);
  --checkbox-required-message-padding: 0;
}
