:root {
  --text-button-font_size-caption: 11px;
  --text-button-font_size-xs: 12px;
  --text-button-font_size-sm: 15px;
  --text-button-font_size-md: 17px;
  --text-button-font_size-lg: 19px;
  --text-button-font_size-xl: 20px;
  --text-button-letter_spacing-caption: -2%;
  --text-button-letter_spacing-label: -3%;
  --text-button-line_height-slab: 14px;

  --text-button-font_weight-caption: 400;
  --text-button-font_weight-label: 500;
}
